.project-image {
  height: 125px;
  width: 125px;
  margin: 13px;
}

@media (max-width: 680px) {
  .project-image {
    height: 40px;
    width: 40px;
    margin: 5px;
  }
}
.button-image {
  border-style: none;
  background-color: transparent;
}
